apiVersion: v1
kind: Service
metadata:
  name: dashboard-svc
  namespace: nginx-ingress
spec:
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: nginx-ingress
---
apiVersion: k8s.nginx.org/v1
kind: VirtualServer
metadata:
  name: dashboard-VirtualServer
  namespace: nginx-ingress
spec:
  host: "nginx.{{local_domain}}"
  upstreams:
  - name: dashboard
    service: dashboard-svc
    port: 80
  routes:
  - path: /dashboard.html
    action:
      pass: dashboard
  tls:
    secret: default-server-secret

---
apiVersion: "cis.f5.com/v1"
kind: IngressLink
metadata:
  name: vs-dashboard.ingresslink
  namespace: nginx-ingress 
spec:
  virtualServerAddress: "{{nginx_dashboard_address}}"
  host: "nginx.{{local_domain}}"
  iRules:
    - /Common/Shared/Proxy_Protocol_iRule
  selector:
    matchLabels:
      app: ingresslink         
